* {
  box-sizing: border-box;
}

/* FONTS */
@font-face {
  font-family: catchymager;
  src: url(../fonts/CatchyMager-Normal.woff2);
}

html {
  background: #ecdbfe;
  height: 100%;
  width: 100%;
  font-family: 'catchymager', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

header h1 {
  margin: 2rem 0 0rem 0;
}

header h3 {
  margin: 0;
}

p, span, a {
  font-size: 1.2rem;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10rem;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 85vh;
}

.video {
  display: none; /* Hide video initially until loaded */
  width: 100%;
  height: 100%;
  max-width: 28rem;
}

b {
  font-weight: 700;
  font-size: 1.3rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d50000; /* Wedding-themed color */
}

.loader {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.heart {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #e31b23; /* Pink heart */
  transform: rotate(-45deg);
  animation: heartbeat 1s infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e31b23;
}

.heart::before {
  top: -30px;
  left: 0;
}

.heart::after {
  left: 30px;
  top: 0;
}

a {
  cursor: pointer;
}

.no-whitespace {
  white-space: nowrap;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

video::-webkit-media-controls-panel {
  width: 40px;
}

section.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
}

section.content p {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

section.content h4 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #d50000; /* Wedding-themed color */
  transition: all 0.3s ease;
  

  &:hover {
    color: white;
    transform: scale(1);
  }
}
  
@media (min-width: 640px) { /* sm breakpoint */
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) { /* lg breakpoint */
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .video-container {
    min-height: 90vh;
  }
}

